<app-navbar (search)="getSearch($event)" (selectedApps)="getDataForSelectedApp($event)"
    (selectedRatings)="getDataForSelectedRating($event)" (sortByRating)="sortByRating($event)"
    (sortByDate)="sortByDate($event)" (sortByYear)="sortByYear($event)" (sortByVersion)="sortByVersion($event)">
</app-navbar>
<div class="main-page-container">
    <div class="count-container"><span class="bold">{{apps.length}}</span> &nbsp;matching entries.</div>
    <div class="app-data-container" *ngFor="let appName of appNames">
        <div class="title">{{appName}} : </div>
        <div class="data-container">
            <div *ngFor="let app of apps">
                <app-card *ngIf="app.app == appName" [detail]="app"></app-card>
            </div>
        </div>
    </div>
</div>