.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.count-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}